<div class="text-center wrapper-form">
  <div class="form-row col-sm-offset-4">
    <div class ="form-title" ><%= 'Milestone Details' %></div>
    <div class="contact-form col-sm-4">
     <%= simple_form_for @milestone, url: contact_milestones_path do |f| %>
    <!-- <div class="logo-container">
            <%#= link_to root_path, class: "navbar-wagon-brand logo-reg" do %>
    <%#= image_tag "rememberme.png", height: 50 %>
            <%# end %>
    </div> -->

    <!-- <form class="details">
        <div class="input-container">
          <div class="input-container"> -->
        <div class=" col-md-4">
        <%= f.input :contact_type, label: false, placeholder: 'Physical meeting/Virtual/Phone', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>

         <div class="dropdown-text col-md-8">
          <%= f.input :note, label: false, placeholder: 'Notes...',class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>

       <div class="dropdown-text col-md-4">
        <% @locations_array = [] %>
        <% @user.locations.each do  |l| %>
          <% @locations_array << l.title %>
        <%end%>
        <% @locations_array.uniq! %>
       <%="Location:"%>
       <select name="milestone_form_location" id="milestone_form_location">
        <option value="Choose_location">Choose location</option>
         <option value="milestone_fake_location">Add new location</option>
         <% @locations_array.each do |la|%>
         <option value='<%=la%>'><%=la%></option>
         <% end %>
       </select>
      <%= f.input :last_location, label: 'Location:', placeholder: 'Type new location', input_html: { id: 'milestone_location_dropdown'}, label: false  %>
       </div>


        <% @tags_array = [] %>
        <% @user.tags.each do  |t| %>
          <% @tags_array << t.title %>
        <%end%>
        <% @tags_array.uniq! %>

      <div class="dropdown-text col-md-4">
       <%="tag:"%>
       <select name="milestone_form_tag1" id="milestone_form_tag1">
        <option value="Choose_tag">Choose tag</option>
         <option value="milestone_fake_tag1">Add new tag</option>
         <% @tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :last_tag, label: 'Tag:', placeholder: 'Type new tag', input_html: { id: 'milestone_tag1_dropdown'}, label: false  %>
      </div>


      <div class="dropdown-text col-md-4">
       <%="tag:"%>
       <select name="milestone_form_tag2" id="milestone_form_tag2">
        <option value="Choose_tag">Choose tag</option>
         <option value="milestone_fake_tag2">Add new tag</option>
         <% @tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :last_tag_two, label: 'Tag:', placeholder: 'Type new tag', input_html: { id: 'milestone_tag2_dropdown'}, label: false  %>
      </div>

        <%= f.submit 'Submit contact', class: 'hidden', id: 'submit_button' %>
       <% end %>
     </div>
           <div class="newbutton" id="newbutton" >Submit contact</div>
   </div>
</div>


