<div class="sign-up-modal">
     <%= simple_form_for @milestone, url: contact_milestones_path do |f| %>
    <div class="logo-container">
            <%= link_to root_path, class: "navbar-wagon-brand logo-reg" do %>
    <%= image_tag "rememberme.png", height: 50 %>
            <% end %>
    </div>

    <form class="details">
        <div class="input-container">
          <div class="input-container">
          <%= f.input :contact_type, label: 'Contact point:', placeholder: 'Physical/Virtual/Phone', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="input-container">
          <%= f.input :last_location, label: 'Location:', placeholder: 'Fintach confrence' , class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="input-container">
          <%= f.input :note, label: 'Notes:', placeholder: 'Have a common interest in...',class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
         <div class="input-container">
          <%= f.input :last_tag, label: 'Tag', placeholder: 'Fintech', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
         <div class="input-container">
          <%= f.input :last_tag_two, label: 'Tag', placeholder: 'Fintech',class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        </div>


              <div class="form-actions m-submit">
                <%= f.submit 'Submit contact'%>
              </div>
          <% end %>
    </form>
</div>


