

<section class="intro">
   <div class="m-container">
   <div class="dropdownn">
-  <button class="dropbtn"><h1><%= @contact.first_name%> <%= @contact.last_name%></h1></button>
-  <div class="dropdown-content">
-    <a href="#"><%= @contact.email %></a>
-    <a href="#"><%= @contact.position %></a>
-    <a href="#"><%= @contact.company %></a>
-  </div>
 </div>
<div class="m-buttons">

  <%= link_to "New Milestone", new_contact_milestone_path(@contact), class: "btn-medium mile-button" %>
  <%= link_to "Contact Details", contact_path(@contact), class: "btn-medium mile-button" %>

</div>
</section>


<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
            <li>
            <div>
                <i class="fas fa-tags" style="color: black;"></i>

               <p class="milestone-tags">
                <% milestone.tags.each do |tag| %>

                <p class="badge-tag badge"><%= tag.title %></p>
                <% end %>
                </p>
              <br>

       <i class="fas fa-globe" style="color: black;"></i>

       <br>
      <p style="font-size: 17px;" class="location-badge badge text-center"><%= milestone.location.title %></p>
      <time style="font-size: 13px"  class="text-center"><%= milestone.created_at.strftime "%B %e %G" %></time>
         </div>
          </li>
    <% end %>
  </ul>
</section>






