

<section class="intro">
  <div class="m-container">
  <div class="dropdownn">
  <h1 class="dropbtn"><%= @contact.first_name%> <%= @contact.last_name%> &darr;</h1>
</div>
<div class="m-buttons">

  <%= link_to "New Milestone", new_contact_milestone_path(@contact), class: "btn-medium mile-button" %>
  <%= link_to "Contact Details", contact_path(@contact), class: "btn-medium mile-button" %>

</div>
</section>


<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
            <li>
            <div>
                <p class="text-center"><strong>Tags:</strong></p>
               <p class="milestone-tags">
                <% milestone.tags.each do |tag| %>

                #<%= tag.title %>
                <% end %>
                </p>
              <br>


      <time style="font-size: 13px"  class="text-center"><p style="font-size: 17px;"><strong>Location:</strong> <%= milestone.location.title %></p><%= milestone.created_at.strftime "%B %e %G" %></time>
         </div>
          </li>
    <% end %>
  </ul>
</section>






