

<section class="intro">
  <div class="m-container">
  <div class="dropdownn">
  <button class="dropbtn"><h1 class="dropbtn"><%= @contact.first_name%> <%= @contact.last_name%> &darr;</h1></button>
  <div class="dropdown-content">
    <a href="#"><%= @contact.email %></a>
    <a href="#"><%= @contact.position %></a>
    <a href="#"><%= @contact.company %></a>
  </div>
</div>
<div class="m-buttons">

  <%= link_to "New Milestone", new_contact_milestone_path(@contact), class: "btn-medium mile-button" %>
  <%= link_to "Contact Details", contact_path(@contact), class: "btn-medium mile-button" %>

</div>
</section>


<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
            <li>
            <div>

              <% blank = 0 %>
                <p><strong>Tags:</strong></p>
               <% milestone.tags.each do |tag| %>
                
                <% if tag.title == " " %>
                <% blank += 1 %>
                <% else %>
                 <p style="align-items: center;">#<%= tag.title %></p>
                 <% end %>
                <% end %>
                 <% if blank == 2 %>
                 <p>No Tags</p>
                <% end %>
              <br>
                

      <time style="font-size: 13px"  class="text-center"><p style="font-size: 17px;"><strong>Location:</strong> <%= milestone.location.title %></p><%= milestone.created_at.strftime "%B %e %G" %></time>
         </div>
          </li>
    <% end %>
  </ul>
</section>






