
<section class="intro">

   <div class="m-container">
    <div class="dropdownn">
      <button class="dropbtn"><h1><%= @contact.first_name.capitalize%> <%= @contact.last_name.capitalize%></h1></button>
      <div class="dropdown-content">
         <a href="#"><%= @contact.email %></a>
         <a href="#"><%= @contact.position %></a>
         <a href="#"><%= @contact.company %></a>
      </div>
    </div>
    <div class="m-buttons">
      <%= link_to "New Milestone", new_contact_milestone_path(@contact), class: "btn-medium mile-button" %>
      <%= link_to "Contact Details", contact_path(@contact), class: "btn-medium mile-button" %>
    </div>
  </div>

</section>


<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
            <li>
            <div>
                <i class="fas fa-tags" style="color: black;">
          <%= link_to edit_contact_milestone_path(@contact, milestone) do %>
            <i class="fas fa-edit milestone-edit text-center" style="color: black;"></i>
          <% end %>
          </i>

               <p class="milestone-tags">
                <% milestone.tags.each do |tag| %>

                <p class="badge-tag badge"><%= tag.title %></p>
                <% end %>
                </p>
              <br>

       <i class="fas fa-globe" style="color: black;"></i>

       <br>
      <p style="font-size: 17px;" class="location-badge badge text-center"><%= milestone.location.title %></p>
      <time style="font-size: 13px"  class="text-center"><%= milestone.created_at.strftime "%B %e %G" %>


         <h5>
           <%= link_to contact_milestone_path(@contact, milestone),
           method: :delete,
           data: { confirm: "Are you sure?" }, class: 'link'  do %>
            <i class="fas fa-trash-alt delete-milestone" style="color: red;"></i>
           <% end %>
        </h5>


      </time>
         </div>
          </li>

    <% end %>
  </ul>
</section>






