
<% phy = 0 %>
<% virt = 0 %>
<% pho = 0 %>
<% @milestones.each do |milestone| %>
<% if  milestone.contact_type == "Phone call"%>
<% pho += 1 %>
<% end %>
<% if milestone.contact_type == "Physical meeting"%>
<% phy += 1 %>
<% end %>
<% if  milestone.contact_type == "Virtual (Email etc)"%>
<% virt += 1 %>
<% end %>
<% end %>
<div class="container-fluid intro-wrapper">
  <div class="container intro-milestone">
    <div class="row ">
      <!-- Chart -->
      <div class="col-md-4 col-sm-12">
        <div class="ct-chart">
          <script class="chart">
            var milestoneChartData = {
              labels: [' ', ' ', ' '],
              label: "Population (millions)",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              series: [<%= phy %>, <%= virt %> , <%= pho %> ]
            };
          </script>
        </div>

        <div class="chart-info">
          <div id="labels">
            <ul>
              <li><span></span>Physical</li>
              <li><span></span>Virtual</li>
              <li><span></span>Phone</li>
            </ul>
          </div>
        </div>

        <div class="milestones-counter chart-info">
          <% counter = 0 %>
          <% @milestones.each do |stone| %>
          <% counter += 1 %>
          <% end %>
          <h5>You and <%= @contact.first_name.capitalize %> have <%= counter %> milestones</h5>
          <h5>Last milestone: <strong><%= @milestones.first.created_at.strftime "%B %e %G" %></strong></h5>
        </div>
      </div>
      <!-- Middle Column Info -->
      <div class="col-md-4 col-sm-12 text-left">
        <div class="contact-info-dash">
          <div class="dash-first-info">
            <div class="contact-name-dash contacts-inf" >
              <h2><strong><%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %></strong></h2>
            </div>
            <div class="contact-email-dash contacts-inf">
              <% unless @contact.email.empty? %>
                <div><h5><i class="far fa-envelope"></i> <%= @contact.email %></h5></div>
              <% end %>
            </div>
            <div class="contact-phone-dash contacts-inf">
              <% unless @contact.phone_number.empty? %>
              <div><h5><i class="fas fa-mobile-alt"></i> <%= @contact.phone_number %></h5></div>
              <% end %>
            </div>
            <div class="position-c contacts-inf">
              <% unless  @contact.position.empty? && @contact.company.empty? %>
                <div><%= @contact.position.upcase %> at <strong><%= @contact.company.capitalize%></strong></div>
              <% end %>
            </div>
            <div class="linkedin-dash contacts-inf">
              <% unless  @contact.username.empty? %>
              <div><h5><i class="fab fa-linkedin" style="color: #096ab6;"></i> Username: <%= @contact.username %></h5></div>
              <% end %>
            </div>
            <div class="birth-date-dash contacts-inf">
              <% unless  @contact.date_of_birth.nil? %>
              <h5>Date of birth: <%= @contact.date_of_birth %></h5>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
        <div class="m-buttons text-left contacts-inf">
         <%= link_to "New Milestone", new_contact_milestone_path(@contact), class: "btn-medium mile-button" %>
         <%= link_to "Edit Contact", edit_contact_path(@contact.id), class: "btn-medium mile-button" %>
        </div>
      </div>
        </div>
      <!-- Right Column... Tags -->
      <div class="col-md-4 col-sm-12">
        <div class="locat-tag-dash">
              <div class="mile-tag">
                <i class="fas fa-tags " style="color: black;"></i>
                <p class="milestone-tags">
                  <% @contact.tags.each do |tag| %>
                  <p class="badge-tag badge"><%= tag.title %></p>
                  <% end %>
                </p>
              </div>
            </div>
              <div class="locat dashboard-scroll">
                <i class="fas fa-globe globe" style="color: black;"></i>
                <br>
                <% @contact.locations.each do |location| %>
                <p class="loca"><%= location.title %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd ROW -->
    </div>
    </div>
  </div>
</div>



<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
    <li>
      <div class="stone">
        <div>
          <%= link_to edit_contact_milestone_path(@contact, milestone) do %>
          <i class="fas fa-edit milestone-edit text-center" style="color: black;"></i>
          <% end %>
        </div>

        <div>
          <time style="font-size: 18px"  class="text-center"><%= milestone.created_at.strftime "%B %e %G" %></time>
        </div>
        <div class="locat-tag">
          <div class="mile-tag text-center">
            <i class="fas fa-tags " style="color: black;"></i>
            <p class="milestone-tags">
              <% milestone.tags.each do |tag| %>
              <p class="badge-tag badge"><%= tag.title %></p>
              <% end %>
            </p>
          </div>
          <div class="locat text-center">
            <i class="fas fa-globe globe" style="color: black;"></i>
            <br>
            <p style="font-size: 17px;" class=" loca"><%= milestone.location.title %></p>
          </div>
        </div>
        <% unless milestone.note.empty? %>
        <h5  style="color: #2e242c;, font-weight: bold;">How can I help my contact?</h5>
        <% if milestone.note.length >= 80%>
        <p style="color: #ccc;"><%=  truncate(milestone.note, length: 80).gsub(".", " ") %><%= link_to "read more..", contact_milestone_path(@contact, milestone)  %></p>
        <% else %>
        <h5 style="color: gray;"><%= milestone.note %></h5>
        <% end %>
        <% end %>
        <hr class="toq-line" size="pixels">

        <%= link_to contact_milestone_path(@contact, milestone),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: 'link'  do %>
        <i class="fas fa-trash-alt delete-milestone"></i>
        <% end %>
      </h5>

      <div>
        <% unless milestone.assigments.empty? %>
        <h5 style="color: #2e242c;, font-weight: bold;">TO DO:</h5>
        <% end %>
        <% milestone.assigments.each do |assigment|%>
        <% unless assigment.title.nil? %>
        <% if assigment.title.length >= 80 %>
        <div class= "assigment-dash"><%= assigment.title%>
          <p style="color: #ccc;"><%=  truncate(assigment.title, length: 80).gsub(".", " ") %><%= link_to "read more..", contact_milestone_path(@contact, milestone)  %></p>
          <% else %>

          <p style="color: #ccc;"><%= assigment.title %></p>

          <% end %>
          <% end %>

          <% end %>
        </div>
      </div>

    </div>

  </li>
  <% end %>
</ul>
</section>





