

<section class="intro">
  <div class="container">
  <div class="dropdownn">
  <button class="dropbtn"><h1 class="dropbtn"><%= @contact.first_name%> <%= @contact.last_name%> &darr;</h1></button>
  <div class="dropdown-content">
    <a href="#"><%= @contact.email %></a>
    <a href="#"><%= @contact.position %></a>
    <a href="#"><%= @contact.company %></a>
  </div>
</div>
</section>


<section class="timeline">
  <ul>

    <% @milestones.each do |milestone| %>
            <li>
            <div>
               <% milestone.tags.each do |tag| %>
                <p><%= tag.title %></p>
               <% end %>
              <br>
              <p><%= milestone.location.title %></p>

      <time style="font-size: 13px"><%= milestone.created_at.strftime "%B %e %G" %></time>
         </div>
          </li>
    <% end %>
  </ul>
</section>




