<% @new_milestones.each do |milestone|  %>
  <div class="col-md-4">  
    <%= link_to contact_milestones_path(milestone.contact), class: 'phone-link' do  %>
      <div class="milestone-container hover-shadow">    
        <div class="milestone-info">
          <div class="milestone-title">
          <%= milestone.contact.first_name.capitalize + " " + milestone.contact.last_name.capitalize %>
          </div>          
            <%=  milestone.location.title.upcase %>
          <div class="contact-email">
            <%= milestone.contact.email %>
          </div>
          <div class="milestone-date">
            <%= milestone.updated_at.strftime('%d %b %Y') %>
          </div>
        </div>              
      </div>
    <% end %>
  </div>
<% end %>