<% @contacts.each do |contact|  %>
  <div class="col-md-4">  
  
    <div class="phone-container">    
      <div class="contact-info">
        <div class="contact-go-timeline">
          <%=link_to new_contact_milestone_path(contact) do %> 
            <i class="fas fa-hourglass-half"></i>
          <% end %>
        </div>
        <div class="contact-go-milestone">
          <%= link_to contact_milestones_path(contact) do %>
           <i class="far fa-calendar-alt"></i>
          <% end %>
        </div>
        <div class="contact-name">
          <%= contact.first_name.upcase %>
        </div>
        <div class="contact-email">
          <%= contact.email %>
        </div>
      </div>
      <div class="associations">
        <div class="tags">
          <p><i class="fas fa-tags"></i></p>
          <% contact.tags.each do |tag| %>
          <p class="badge badge-danger badge-sm badge-tag"><%= tag.title %></p>
          <% end %>        
        </div>
        <div class="locations">
          <p><i class="fas fa-globe"></i></p>
          <% contact.locations.each do |location| %>
            <p class="badge  badge-danger location-badge"><%= location.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
