<%= render "shared/banner" %>
<div class="container gradiant-background-home">
  <div class=" row searches">
    <div class="col-md-4">
      <div class="name-search">
        <%= form_tag contacts_path, method: :get  do %>
          <%= text_field_tag :query, params[:query], type: "search", class: "form-control", 
          placeholder: "search by name", onsearch: "toggleDisplay()" %>
        <%  end %>
        <script>
          function toggleDisplay(){
            var button = document.getElementById('location');
            if (button.style.display === "block"){
              button.style.display = "none";
            }else{
              button.style.display = "block";    
            }
          }
        </script>
      </div>
    </div>
    <div class="buttons-filter">
      <div class="col-md-4">
        <div class="location-search">
          <%= button_tag 'Location', class: "btn btn-outline-dark", onclick: "buttonDisappear()" %>
          <script>
            function buttonDisappear(){
              var button = document.getElementById('location');
              if (button.style.display === "block"){
                button.style.display = "none";
              } else {
                button.style.display = "block";
              }
            }
          </script>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tag-search">
          <%= button_tag'Tags', class: "tags-search btn btn-primary", onclick: "toggleFunction()"  %>
          <script>
            function toggleFunction(){
              var button = document.getElementById('tags');
              if (button.style.display === "none"){
                button.style.display = "block";
              } else {
                button.style.display = "none";
              }
            }
          </script>
        </div>
      </div>
    </div>   
  </div>
  <div class="row results">
    <div id="location" style="display: none;">
      <% @my_locations.each do |location|  %>
        <div class="col-md-3 results">
          <h4>
            <%= link_to location.title, contacts_path(location_id: location.id), onclick: "showLocation()", class: "btn btn-primary"  %>
          </h4>
        </div>
      <%  end  %>
      <script>
        function showLocation(){
          var button = document.getElementById('contact-location');
          if (button.style.display === "block"){
            button.style.display = "none";
          } else {
            button.style.display = "block";
          }
        }
      </script>
    </div>
    <div id="tags" style="display: none;">
      <% @tag_names.each do |tag|  %>
        <div class="col-md-3 results">
          <h4>
            <%= link_to tag.title, contacts_path(tag_id: tag.id), onclick:"showTags()", class: "btn btn-primary" %>
          </h4>
        </div>
      <% end %>
      <script>
        function showTags(){
          var button = document.getElementById('tags-contacts');
          if (button.style.display === "block"){
            button.style.display = "none";
          } else {
            button.style.display = "block";
          }
        }
      </script>
    </div>
  </div>
</div>



