
<% @user = current_user%>
<% @tags = [] %>
<% @alltags = Tag.all %>




<div class="container text-center">
  <div class="row">
    <div class="form col-sm-offset-4 col-sm-4">
      <%= simple_form_for @contact do |f| %>
      <%= f.input :first_name, label: 'First name', placeholder: 'Mark' %>
      <%= f.input :last_name, label: 'Last_name', placeholder: 'Zuckerberg' %>
      <%= f.input :position, label: 'Positions', placeholder: 'CEO at Facebook' %>
      <%= f.input :company, label: 'Company', placeholder: 'facebook' %>
      <%= f.input :username, label: 'Linkedin username', placeholder: 'mark123' %>
      <%= f.input :email, label: 'Email', placeholder: 'markz@gmail.com' %>
      <%= f.input :phone_number, label: 'Phone-number', placeholder: '050-7654768' %>
      <%= f.input :date_of_birth, label: 'Date of birth', placeholder: 'may 14 1984' %>

      <%= f.input :first_contact_type, label: 'Contact point:', placeholder: 'Physical/Virtual/Phone' %>



      <% location_array = @user.locations.map {|l| l.title} %>
       <%="Location:"%>
       <select name="contact_form_location" id="contact_form_location">
         <option value="contact_fake_location">Add new location</option>
         <% location_array.each do |la|%>
         <option value='<%=la%>'><%=la%></option>
         <% end %>
       </select>
      <%= f.input :first_location, label: 'Location:', placeholder: 'Type new location', input_html: { id: 'contact_location_dropdown'}, label: false  %>

      <%= f.input :one_note, label: 'Notes:', placeholder: 'Have a common interest in...' %>

      <% tags_array = @user.tags.map {|t| t.title} %>
       <%="tag:"%>
       <select name="contact_form_tag1" id="contact_form_tag1">
         <option value="contact_fake_tag1">Add new tag</option>
         <% tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :first_tag, label: 'Tag:', placeholder: 'Type new tag', input_html: { id: 'contact_tag1_dropdown'}, label: false  %>

      <% tags_array = @user.tags.map {|t| t.title} %>
       <%="tag:"%>
       <select name="contact_form_tag2" id="contact_form_tag2">
         <option value="contact_fake_tag2">Add new tag</option>
         <% tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :second_tag, label: 'Tag:', placeholder: 'Type new tag', input_html: { id: 'contact_tag2_dropdown'}, label: false  %>

      <%#= f.input :photo %>
      <%#= f.input :photo_cache, as: :hidden %>
      <%= f.submit 'Submit contact', class: 'hidden', id: 'submit_button' %>
       <% end %>
           <div class="newbutton" id="newbutton" >Submit contact</div>
      </div>
    </div>
  </div>











