
<div class="sign-up-modal form-w">
<% @user = current_user%>
<% @tags = [] %>
<% @alltags = Tag.all %>
<% @alltags.each do |t|%>
  <% if t.user_id = @user.id %>
  <% @tags << t %>
  <% end %>
<% end %>






  <%= simple_form_for @contact do |f| %>
    <div class="logo-container">
            <%= link_to root_path, class: "navbar-wagon-brand logo-reg" do %>
    <%= image_tag "rememberme.png", height: 50 %>
            <% end %>
    </div>

    <form class="details">
        <div class="input-container">
          <div class="form-inputs">
          <%= f.input :first_name, label: 'First name', placeholder: 'Mark', class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
        <div class="input-container">
          <%= f.input :last_name, label: 'Last_name', placeholder: 'Zuckerberg', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="form-inputs">
          <%= f.input :position, label: 'Positions', placeholder: 'CEO at Facebook', class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
         <div class="form-inputs">
          <%= f.input :company, label: 'Company', placeholder: 'facebook', class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
         <div class="form-inputs">
          <%= f.input :username, label: 'Linkedin username', placeholder: 'mark123', class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
         <div class="form-inputs">
          <%= f.input :email, label: 'Email', placeholder: 'markz@gmail.com' , class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
         <div class="form-inputs">
          <%= f.input :phone_number, label: 'Phone-number', placeholder: '050-7654768', class: "col-sm-12 email-input with-placeholder", id: "email"%>
        </div>
        <div class="input-container">
          <%= f.input :date_of_birth, label: 'Date of birth', placeholder: 'may 14 1984', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="input-container">
            <%= f.input :first_contact_type, label: 'Contact point:', placeholder: 'Physical/Virtual/Phone', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
          <div class="input-container">
            <%= f.input :first_location, label: 'Location:', placeholder: 'Fintach confrence', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
          <div class="input-container">
            <%= f.input :one_note, label: 'Notes:', placeholder: 'Have a common interest in...', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="input-container">
            <%= f.input :first_tag, label: 'Tag', placeholder: 'Fintech', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        <div class="input-container">
            <%= f.input :second_tag, label: 'Tag', placeholder: 'Fintech', class: "col-sm-5 username-input with-placeholder", id: "username" %>
        </div>
        </div>


              <div class="form-actions">
                <%= f.submit 'Submit contact'%>
              </div>
          <% end %>
    </form>
</div>


