<div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4"> -->
      <%= simple_form_for @contact do |f| %>
      <%= f.input :first_name, label: 'First name', placeholder: 'Mark' %>
      <%= f.input :last_name, label: 'Last_name', placeholder: 'Zuckerberg' %>
      <%= f.input :position, label: 'Positions', placeholder: 'CEO at Facebook' %>
      <%= f.input :email, label: 'Email', placeholder: 'markz@gmail.com' %>
      <%= f.input :phone_number, label: 'Phone-number', placeholder: '050-7654768' %>
      <%= f.input :date_of_birth, label: 'Date of birth', placeholder: 'may 14 1984' %>
      <%#= f.input :photo %>
      <%#= f.input :photo_cache, as: :hidden %>
      <%#= f.submit 'Submit contact'%>
      <% end %>
    </div>
  </div>
</div>

  <ul  class = "nav nav-tabs" role='tablist'>
    <li.active>
      <%= link_to 'Milstones (:has_many)', '#people', data: {toggle: 'tab'}%>
    </li.active>
    <li>
      <%= link_to 'User (:belongs_to)', '#owner', data: {toggle: 'tab'}%>
    </li>
    <li>
      <%= link_to 'Tags (:has_many :through)', '#tags', data: {toggle: 'tab'}%>
    </li>
    <li>
      <%= link_to 'Locations (:has_many :through)', '#tags', data: {toggle: 'tab'}%>
    </li>
  </ul>


  <div class = "tab-content">
    <div class = "tasks tab-pane active" role='tabpanel'>
      <% f.simple_fields_for :milestone do |milestone|%>
        <% render 'milestone_fields', f: milestone %>
      <div class = "links" >
        <% link_to_add_association 'add milestone', f, :milestones%>
      </div>
    </div>
  </div>

  <div class ="actions">
    <%f.button :submit, :disable_with => 'Please wait...'%>
  </div>

 <!--  <div class= "user tab-pane" role='tabpanel'>
    <div class = "contact_from_list"> -->
        <%# f.association :contact, collection: Contact.order(:first_name), prompt: 'Choose an existing contact'
      = link_to_add_association 'add a new person as owner', f, :owner

    #tags.tab-pane role='tabpanel'
      = f.simple_fields_for :project_tags do |project_tag|
        = render 'project_tag_fields', :f => project_tag
      = link_to_add_association 'add a tag', f, :project_tags

  <div actions
= f.button :submit, :disable_with => 'Please wait ...'




<!-- <div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4"> -->
      <%#= simple_form_for [@user , @contact] do |f| %>
        <%#= f.input :first_name, label: 'First name', placeholder: 'Mark' %>
        <%#= f.input :last_name, label: 'Last_name', placeholder: 'Zuckerberg' %>
        <%#= f.input :position, label: 'Positions', placeholder: 'CEO at Facebook' %>
        <%#= f.input :email, label: 'Email', placeholder: 'markz@gmail.com' %>
        <%#= f.input :phone_number, label: 'Phone-number', placeholder: '050-7654768' %>
        <%#= f.input :date_of_birth, label: 'Date of birth', placeholder: 'may 14 1984' %>
        <%#= f.input :photo %>
        <%#= f.input :photo_cache, as: :hidden %>
        <%#= f.submit 'Submit contact'%>
      <%# end %>
<!--     </div>
  </div>
</div> -->


<!-- <div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4"> -->
      <%#= simple_form_for [@contact, @milestone], url: {action: :create} do |f| %>
       <%#= f.input :notes, label: ' conversation notes', placeholder: 'Have a common entrance in... ' %>
        <%#= f.submit 'Submit milstone'%>
      <%# end %>
  <!--   </div>
  </div>
</div> -->


<!-- <div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4"> -->
      <%#= simple_form_for [@user, @location] do |f| %>
       <%#= f.input :title, label: 'Meeting location ', placeholder: 'Fintech confrence' %>
        <%#= f.submit 'Submit location'%>
      <%# end %>
   <!--  </div>
  </div>
</div> -->


<!-- <div class="container text-center">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4"> -->
      <%#= simple_form_for [@milestone, @subject] do |f| %>
       <%#= f.input :subject, label: 'Tag', placeholder: 'New-york realestate' %>
        <%#= f.submit 'Submit Tag'%>
      <%# end %>
  <!--   </div>
  </div>
</div> -->



