
<% @user = current_user%>
<% @tags = [] %>
<% @alltags = Tag.all %>




<div class=" text-center wrapper-form">
  <div class="form-row col-sm-offset-4">
    <div class ="form-title" ><%= 'Contact Details' %></div>
    <div class = "mandatory" ><%='*Mandatory fields'%></div>
    <div class="contact-form col-sm-4">
      <%= simple_form_for @contact do |f| %>
      <div class=" col-md-6" >
      <%= f.input :first_name, label: false, placeholder: 'First name*' %>
      </div>
      <div class=" col-md-6" >
      <%= f.input :last_name, label: false, placeholder: 'Last name*' %>
      </div>

       <div class=" col-md-6">
      <% @types = ['Physical meeting' , 'Virtual (Email etc)', 'Phone call'] %>
      <%= f.input :first_contact_type, collection: @types , label: false, placeholder: 'Physical meeting/Virtual/Phone', include_blank: false, prompt:'Choose contact point*' %>
      </div>


      <% @locations_array = @user.locations.map {|l| l.title}.uniq! %>
      <% if @locations_array == nil %>
        <% @locations_array = [] %>
        <% @locations_array << "office-meeting" %>
      <%end%>
    <div class="dropdown-text col-md-6">
       <select name="contact_form_location" id="contact_form_location">
        <option value="Choose_location">Choose a location*</option>
        <option value="contact_fake_location">Enter a new location</option>
          <% @locations_array.each do |la|%>
          <option value='<%=la%>'><%=la%></option>
        <% end %>
       </select>
      <%= f.input :first_location, label: 'Location:', placeholder: 'Enter a new location', input_html: { id: 'contact_location_dropdown'}, label: false  %>
      </div>

      <div class=" col-md-12">
      <%= f.input :one_note, label: false, placeholder: 'How can I help my contact?' %>
      </div>

      <div class=" col-md-6">
      <%= f.input :company, label: false, placeholder: 'Company' %>
      </div>
      <div class=" col-md-6">
      <%= f.input :position, label: false, placeholder: 'Positions' %>
      </div>

      <div class=" col-md-4">
      <%= f.input :username, label: false, placeholder: 'Linkedin username' %>
      </div>
      <div class=" col-md-4">
      <%= f.input :email, label: false, placeholder: 'Email' %>
      </div>
      <div class=" col-md-4">
      <%= f.input :phone_number, label: false, placeholder: 'Phone number' %>
      </div>

      <div class=" col-md-12">
      <%= f.input :date_of_birth, as: :date, html5: true, start_year: Date.today.year-90, end_year: Date.today.year - 10, label: 'Date of birth', placeholder: 'Date of birth' %>
      </div>

     <% @tags_array = @user.tags.map {|t| t.title}.uniq! %>
       <% if @tags_array == nil %>
        <% @tags_array = [] %>
        <% @tags_array << "work" %>
        <% @tags_array << "social" %>
        <%end%>
    <div class="dropdown-text col-md-6">
       <select name="contact_form_tag1" id="contact_form_tag1">
         <option value="Choose_tag">Add a tag?</option>
         <option value="contact_fake_tag1">Create a new tag</option>
         <% @tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :first_tag, label: 'Tag:', placeholder: 'Enter a new tag', input_html: { id: 'contact_tag1_dropdown'}, label: false  %>
    </div>

    <div class="dropdown-text col-md-6">
       <select name="contact_form_tag2" id="contact_form_tag2">
        <option value="Choose_tag">Add a tag?</option>
         <option value="contact_fake_tag2">Create a new tag</option>
         <% @tags_array.each do |ta|%>
         <option value='<%=ta%>'><%=ta%></option>
         <% end %>
       </select>
      <%= f.input :second_tag, label: 'Tag:', placeholder: 'Enter a new tag', input_html: { id: 'contact_tag2_dropdown'}, label: false  %>
    </div>

     <div class=" col-md-6 ">
      <%= f.input :first_assigment, label: false, placeholder: 'To do' %>
      </div>
      <div class=" col-md-6 ">
      <%= f.input :second_assigment, label: false, placeholder: 'To do' %>
      </div>

      <%#= f.input :photo %>
      <%#= f.input :photo_cache, as: :hidden %>
      <%= f.submit 'Submit contact', class: 'hidden', id: 'submit_button' %>
       <% end %>
      </div>
           <div class="btn newbutton" id="newbutton" >Submit contact</div>

    </div>
  </div>











