
<div class="container">
	<div class="row">
    <div id="contacts">
      <% if params[:query].present? %>
             <h4 class="text-left result-title"><%= "Results for '" + params[:query] +  "':"%></h4>
            <%= render "shared/phone_cards" %>
      <% end %>
    </div>
    <div id="location-contacts">
      <% if params[:location_id].present?  %>
      <% @location = Location.find(params[:location_id]) %>
      <h4 class="text-left result-title"><%= "Results for " +  @location.title + ":"%></h4>
          <%= render "shared/location_cards" %>
      <% end %>
    </div> 
    <div id="tag-contacts">
      <% if params[:tag_id].present? %>
        <h4 class="text-left result-title"><%= "Results for " +  @tag.title + ":"%></h4>    
          <%=   render "shared/tag_cards" %>
      <%  end %>
    </div>
  </div>
</div>