<div class="grid">
 <div class="text">
  <div class="name">
    <h1> Contact name: <%= "#{@contact.first_name} #{@contact.last_name}" %></h1>
  </div>
  <div class="work">
    <h2> Company: <%= @contact.company%></h2>
    <h2> Position: <%= @contact.position%></h2>
  </div>
  <div class="contact">
    <h2> Linkinn username: <%= @contact.username%></h2>
    <h2> Email: <%= @contact.email%></h2>
    <h2> Phone number: <%= @contact.phone_number%></h2>
  </div>











