<div class="container-fluid">
  <div class="cover" style="background:url('https://78.media.tumblr.com/bb6fa5fbdedea5be08bfaca08a853c93/tumblr_nwn7shUcQP1qa763mo1_500.gif') no-repeat;">
    <%= link_to edit_contact_path(@contact.id) do %>
    <button class="glyphicon glyphicon-edit edit_cover_btn" title="Edit Contact"></button>
    <% end %>
  </div>
  <div class="row loggedin_user">
    <div class="col-sm-3 col-md-3">
      <div class="user_profile">
        <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-1/p160x160/19665692_840999699399230_1883861812456879924_n.jpg?oh=03ae7453a7a04d849eee5568cf97f25e&oe=5A0C8763">
        <div class="user_name" title="dinesh kumar sisodiya">
         <%= "#{@contact.first_name.capitalize} #{@contact.last_name.capitalize}" %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9">
      <div class="user_options">
        <ul class="user_menu">
          <%= link_to  new_contact_milestone_path(@contact) do %>
          <li class="fas fa-hourglass-half" title="Add New Milestone"></li>
         <% end %>
            <%= link_to contact_milestones_path(@contact) do %>
          <li class="far fa-calendar-alt" title="Time-line"></li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row user_details">
          <table>
            <tr>
              <h3><%= "#{@contact.first_name} #{@contact.last_name}" %></h3>
            </tr>
            <tr>
              <td>

           <% if  @contact.first_name.blank? %>
                <h5><%= link_to "Add first name", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Company: <%= @contact.first_name.capitalize %></h5>
                <% end %>
               <br>
           <% if  @contact.last_name.blank? %>
                <h5><%= link_to "Add last name", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Company: <%= @contact.last_name.capitalize %></h5>
                <% end %>
               <br>
          <% if  @contact.company.blank? %>
                <h5><%= link_to "Add Company", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Company: <%= @contact.compa.capitalize %></h5>
                <% end %>
               <br>
          <% if @contact.position.blank? %>
                <h5><%= link_to "Add Position", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Position: <%= @contact.position %></h5>
         <% end %>
         <br>
          <% if @contact.email.blank?%>
                <h5><%= link_to "Add Email", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Email: <%= @contact.email %></h5>
          <% end %>
         <br>
          <% if @contact.username.blank? %>
                <h5><%= link_to "Add Linkedin Username", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Username: <%= @contact.username %></h5>
          <% end %>
         <br>
          <% if @contact.phone_number.blank?%>
                <h5><%= link_to "Add Phone number", edit_contact_path(@contact.id), class: "fas fa-plus"%></h5>
                <% else %>
                <h5>Phone-number: <%= @contact.phone_number %></h5>
          <% end %>
         <br>
              </td>
            </tr>
          </table>
  </div>
</div>
<hr>
